REACT_APP_API_URL=https://your-backend-url.onrender.com

NODE_ENV=production

DB_HOST=dpg-d4o94qqdbo4c73adv86g-a.frankfurt-postgres.render.com
DB_NAME=crm_db_u28z
DB_USER=crm_user
DB_PASSWORD=yf5CtgKtJ691h8OR7h7eQJxJcrnE0q4C
DB_PORT=5432

JWT_SECRET=<paste-your-jwt-secret>
CLIENT_URL=
